<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>Take a note, edit it or delete it! View all notes on the home page.</p>
    </div>
  </body>
</html>
